@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * a {
    text-decoration: none;
    color: inherit; }
  * ul, * ol {
    list-style-type: none; }
  * button {
    border: none; }
  * .fab, * .fas {
    font-size: 20vh; }
    @media (min-width: 720px) {
      * .fab, * .fas {
        font-size: 30vh; } }
  * figcaption {
    font-size: 1.3rem; }
  * h3 {
    text-align: center; }

body {
  background-color: #fcf6f6;
  font-family: "Open Sans", sans-serif; }

.header--site .fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }

.header--site .menu {
  width: 100%;
  height: 10vh;
  background-color: #782a28; }
  .header--site .menu .menu__container {
    position: relative; }
    .header--site .menu .menu__container .menu__list {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 10vh;
      width: 100%;
      background-color: #521d1b;
      -webkit-transform: scale(1, 0);
              transform: scale(1, 0);
      -webkit-transform-origin: top;
              transform-origin: top;
      transition: -webkit-transform 0.5s ease-in-out;
      transition: transform 0.5s ease-in-out;
      transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
      z-index: 1; }
      @media (min-width: 1200px) {
        .header--site .menu .menu__container .menu__list {
          -webkit-transform: scale(1, 1);
                  transform: scale(1, 1);
          flex-direction: row;
          top: 0; } }
      .header--site .menu .menu__container .menu__list .menu__option {
        height: 10vh;
        color: white; }
        @media (min-width: 1200px) {
          .header--site .menu .menu__container .menu__list .menu__option {
            margin-left: 15px;
            padding: 0 20px; } }
        .header--site .menu .menu__container .menu__list .menu__option .menu__link {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center; }
      .header--site .menu .menu__container .menu__list .menu__option:hover {
        background-color: #652322; }
    .header--site .menu .menu__container .menu__list--active {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1); }
    .header--site .menu .menu__container .menu__dropdown {
      display: block;
      position: relative;
      width: 100%;
      height: 10vh;
      z-index: 99; }
      @media (min-width: 1200px) {
        .header--site .menu .menu__container .menu__dropdown {
          display: none; } }
      .header--site .menu .menu__container .menu__dropdown .menu__burger {
        position: absolute;
        top: 5vh;
        right: 5vh;
        display: block;
        background-color: #fff;
        width: 60px;
        height: 2px;
        transition: all 0.5s ease-in-out; }
      .header--site .menu .menu__container .menu__dropdown .menu__burger::before,
      .header--site .menu .menu__container .menu__dropdown .menu__burger::after {
        content: "";
        position: absolute;
        width: 60px;
        right: 0;
        height: 2px;
        background: #fff;
        transition: all 0.5s ease-in-out; }
      .header--site .menu .menu__container .menu__dropdown .menu__burger::before {
        top: -2vh; }
      .header--site .menu .menu__container .menu__dropdown .menu__burger::after {
        top: 2vh; }
    .header--site .menu .menu__container .menu__dropdown.open .menu__burger {
      background-color: rgba(0, 0, 0, 0); }
    .header--site .menu .menu__container .menu__dropdown.open .menu__burger::before {
      top: 0;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .header--site .menu .menu__container .menu__dropdown.open .menu__burger::after {
      top: 0;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .header--site .menu .menu__container .menu__dropdown:hover {
      cursor: pointer; }

.header--site .banner {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0 63%);
          clip-path: polygon(0 0, 100% 0, 100% 82%, 0 63%);
  /*
            This pattern is downloaded from www.subtlepatterns.com 
            If you need more, that's where to get'em.
        */
  background-image: url(eac71941e1cbb5fb308359bfd9fd5f0a.png);
  height: 90vh;
  color: #fff;
  font-size: 2rem; }

.main .article {
  width: 90%;
  margin: 0 auto 15vh auto;
  font-size: 1.2rem; }

.main .article__header {
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-shadow: 3px -5px 1px #782a28; }
  @media (min-width: 480px) {
    .main .article__header {
      font-size: 2rem; } }

.main .article--about {
  position: relative; }
  .main .article--about .article__header--about {
    font-size: 2rem;
    letter-spacing: 1px;
    text-shadow: 3px -5px 1px #782a28;
    position: absolute;
    top: -15vh; }

.main .article__container--links {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 30px 0 10px 0; }
  @media (min-width: 1200px) {
    .main .article__container--links {
      flex-direction: row;
      margin: 20px 0 0 0;
      padding: 0 20px; } }
  .main .article__container--links .article__link {
    position: relative;
    width: 80%;
    margin-bottom: 5vh;
    padding: 10px;
    background-color: #353535;
    color: #fff;
    transition: all .4s ease-in-out; }
    @media (min-width: 1200px) {
      .main .article__container--links .article__link {
        margin: 0;
        width: 20%;
        margin-right: 20px; } }
  @media (min-width: 1200px) {
    .main .article__container--links .article__link:hover {
      background-color: #4f4f4f; } }
  .main .article__container--links .article__link--email {
    margin: 0;
    background-color: #521d1b;
    border-radius: 6px;
    transition: all .4s ease-in-out; }
    @media (min-width: 1200px) {
      .main .article__container--links .article__link--email {
        background-color: #2c0f0f; } }
  @media (min-width: 1200px) {
    .main .article__container--links .article__link--email:hover {
      background-color: #3f1615; } }
  .main .article__container--links .article__arrow {
    text-align: center; }
  .main .article__container--links .article__arrow::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: calc(50% - 5px);
    right: 0;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .main .article__container--links .article__arrow--right::after {
    -webkit-animation: 2s arrowAnimationRight infinite ease-in-out;
            animation: 2s arrowAnimationRight infinite ease-in-out; }
  .main .article__container--links .article__arrow--left::after {
    -webkit-animation: 2s arrowAnimationLeft infinite ease-in-out;
            animation: 2s arrowAnimationLeft infinite ease-in-out; }

@-webkit-keyframes arrowAnimationRight {
  0%,
  100% {
    right: 8%; }
  50% {
    right: 18%; } }

@keyframes arrowAnimationRight {
  0%,
  100% {
    right: 8%; }
  50% {
    right: 18%; } }

@-webkit-keyframes arrowAnimationLeft {
  0%,
  100% {
    left: 8%; }
  50% {
    left: 18%; } }

@keyframes arrowAnimationLeft {
  0%,
  100% {
    left: 8%; }
  50% {
    left: 18%; } }

.main .article__container--technology {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5vh;
  margin-top: 30px; }
  @media (min-width: 720px) {
    .main .article__container--technology {
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 1280px) {
    .main .article__container--technology {
      grid-template-columns: repeat(3, 1fr); } }
  .main .article__container--technology .article__technology {
    width: 100%;
    height: 60vh;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
    z-index: 2; }
    .main .article__container--technology .article__technology .article__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      padding: 15px;
      width: 100%;
      height: 100%;
      text-align: center;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
      box-shadow: 17px 11px 10px -1px rgba(0, 0, 0, 0.75); }
    .main .article__container--technology .article__technology .article__card--front {
      background-color: #c5b3b3;
      transition: all 0.4s ease-in-out; }
    .main .article__container--technology .article__technology .article__card--front:hover {
      cursor: pointer;
      background-color: #af9696; }
    .main .article__container--technology .article__technology .article__card--back {
      background-color: #997979;
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg); }
    .main .article__container--technology .article__technology .article__card--back:hover {
      cursor: pointer; }

.main .article__technology--fliping {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 2; }

.main .article__container--projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh; }
  @media (min-width: 1360px) {
    .main .article__container--projects {
      flex-direction: row;
      align-items: flex-start; } }
  .main .article__container--projects .article__project {
    width: 80%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    border: 2px solid #c5b3b3;
    border-radius: 6px; }
    @media (min-width: 1360px) {
      .main .article__container--projects .article__project {
        margin-top: 0;
        margin-left: 5vw;
        height: 60vh; } }
    .main .article__container--projects .article__project .figcaption--project {
      padding: 10px 0;
      font-size: 0.8rem;
      text-align: center; }
    .main .article__container--projects .article__project .article__container--links-wbst {
      display: grid;
      grid-template-columns: 1fr;
      width: 40%;
      grid-gap: 15px; }
      @media (min-width: 720px) and (max-width: 1360px) {
        .main .article__container--projects .article__project .article__container--links-wbst {
          grid-template-columns: repeat(2, 1fr); } }
      .main .article__container--projects .article__project .article__container--links-wbst .article__link--wbst {
        display: block;
        padding: 10px;
        background-color: #353535;
        color: #fff;
        border-radius: 6px;
        font-size: .8rem;
        overflow: hidden;
        text-align: center; }
  @media (min-width: 1360px) {
    .main .article__container--projects .article__project:first-child {
      margin: 0; } }
  .main .article__container--projects .article__project:nth-child(1) {
    background-color: #7fa1d8; }
  .main .article__container--projects .article__project:nth-child(2) {
    background-color: #d88d7f; }
  .main .article__container--projects .article__project:nth-child(3) {
    background-color: #89d87f; }

.footer {
  padding: 10px 0;
  background-color: #353535; }

